In [1]:
import numpy as np
import pandas as pd

reading the dataset using pandas

In [3]:
df = pd.read_csv('D:/pattern detection/NIFTY22JANFUT.csv')

In [14]:
df.head(4)

,Unnamed: 0,dateTime,open,high,low,close,volume
0,0,2021-12-23 09:15:00.0,17105.00,17129.95,17105.0,17106.15,0
1,1,2021-12-23 09:16:00.0,17106.05,17116.00,17100.3,17116.00,12050
2,2,2021-12-23 09:17:00.0,17116.15,17117.85,17102.7,17107.90,5800
3,3,2021-12-23 09:18:00.0,17107.90,17120.00,17107.9,17116.70,7450

In [4]:
df.describe()

,Unnamed: 0,open,high,low,close,volume
count,8303.000000,8303.000000,8303.000000,8303.000000,8303.000000,8303.000000
mean,4151.000000,17734.360171,17738.300686,17730.468499,17734.454438,17798.253643
std,2397.013976,410.594170,410.531190,410.647038,410.533291,21578.626307
min,0.000000,16902.200000,16906.000000,16894.250000,16904.000000,0.000000
25%,2075.500000,17296.325000,17299.100000,17293.650000,17296.500000,5450.000000
50%,4151.000000,17788.550000,17794.600000,17783.150000,17789.550000,10650.000000
75%,6226.500000,18075.000000,18078.875000,18072.000000,18074.900000,21425.000000
max,8302.000000,18360.250000,18363.400000,18351.450000,18358.000000,356850.000000

In [26]:
del df['volume']

In [28]:
df.head(4)

       open      high      low     close
0  17105.00  17129.95  17105.0  17106.15
1  17106.05  17116.00  17100.3  17116.00
2  17116.15  17117.85  17102.7  17107.90
3  17107.90  17120.00  17107.9  17116.70

In [31]:
matrix = np.matrix(df.head(4))
matrix

matrix([[17105.  , 17129.95, 17105.  , 17106.15],
        [17106.05, 17116.  , 17100.3 , 17116.  ],
        [17116.15, 17117.85, 17102.7 , 17107.9 ],
        [17107.9 , 17120.  , 17107.9 , 17116.7 ]])

In [32]:
matrix = np.matrix(df)

In [35]:
matrix = matrix[0:4, 2:6]

[]